* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1f2937;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

button {
    font-family: 'Poppins', sans-serif;
}

input {
    font-family: 'Poppins', sans-serif;
}